:root{
    --check-color: white;
}

@-webkit-keyframes left-bar{
    0%{
        box-shadow: inset 0 0 0 0.01px var(--check-color);
    }
    100%{
        box-shadow: inset 10px 0 var(--check-color);
    }
}

@-webkit-keyframes right-bar{
    0%{
        box-shadow: inset 0 0 0 0.01px var(--check-color);
    }
    100%{
        box-shadow: inset 0 18px var(--check-color);
    }
}

.round-checkbox{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
}

.round-checkbox:hover input ~ .checkmark{
    background-color: rgb(179, 179, 179);
}

.round-checkbox input:checked ~ .checkmark{
    background-color: rgb(38, 120, 226);
    border-color: transparent;
}

.round-checkbox:hover input:checked ~ .checkmark{
    background-color: rgb(17, 108, 184);
}

.checkbox{
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark{
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;

    background-color: rgb(221, 221, 221);
    transition-duration: 0.5s;
    border-radius: 25px;
    border: 2px solid rgb(211, 211, 211);
}

.checkmark:before{
    content: "";
    position: absolute;
    top: 14px;
    left: 4px;
    display: none;

    width: 11px;
    height: 5px;
    background-color: transparent;
    border: none;
    
    transform: rotate(-135deg);

    -webkit-animation: left-bar 0.25s 0.15s ease-out;
    animation-fill-mode: forwards;
}

.checkmark:after{
    content: "";
    position: absolute;
    top: 6px;
    right: 11px;
    display: none;

    background-color: transparent;
    width: 5px;
    height: 20px;

    transform: rotate(45deg);

    -webkit-animation: right-bar 0.25s ease-out;
    animation-fill-mode: forwards; 
}

.round-checkbox input:checked ~ .checkmark:after{
    display: block;
}

.round-checkbox input:checked ~ .checkmark:before{
    display: block;
}