@-webkit-keyframes show-new-price{
    0%{
        transform: translateX(-60px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.new-price{
    display: inline-block;

    font-family: "Poppins";
    background-color: rgb(179, 179, 179);
    border-radius: 4px;
    color: white;
    padding: 3px 6px;
    font-size: 0.9em;
    min-width: 10px;
    max-height: 20px;
    margin: auto 0;

    -webkit-animation: show-new-price 0.5s ease-out;
}

.higher{
    background-color: rgb(253, 29, 29);
}

.lower{
    background-color: rgb(37, 212, 95);
}